body{
  padding: 0px;
  margin: 0px;
  border: 0px;
  overflow: hidden;
}
h1,h2{
  font-family: 'Tangerine', cursive;
  font-size: 70px;
}
.resultboard{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.introductorybox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.innerintroductory{
  display: block;
}
.innerpage{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 669px;
  width: 100%;
  background-color: white;
}
.firstside{
  position: absolute;
  left:0px;
  background-color: white;
  height : 669px;
  width:300px;
  box-shadow: 0px 0px .2px black;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
}
.firstcolumn{
  background-color: white;
  height:650px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.submitBtn:hover{
  background-color: #e5e5e8;
  transform: scale(1.01);
}
.submitBtn:active{
  transform: scale(0.9);
}
.submitBtn{
  background-color: white;
  width : 100%;
  height : 70px;
  margin-top: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px .1px black;
  cursor: pointer;
  transition: transform .2s;
}
.secondside{
  background-color: white;
  height: 669px;
  width: 660px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  overflow:hidden;
}
.secondcolumn{
  background-color: white;
  height:650px;
  width: 620px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-x : hidden;
  overflow-y: auto;

}
.secondinside{
  display:block;
  height:650px;
  width: 600px;
}
.well{
  display:flex;
  justify-content: flex-start;
  align-items: center;
}
.innerwell{
  display: block;
}
.choicesbox{
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.choices{
  display: block;
}
.thirdside{
  position: absolute;
  right:0px;
  background-color: white;
  height : 669px;
  width:300px;
  box-shadow: 0px 0px .2px black;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
}
.thirdcolumn{
  background-color: white;
  height:650px;
  width: 280px;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: flex-start;
}
.picture{
  max-width: 90px;
  max-height: 90px;
}
.statusimg{
  background-color: white;
  margin-bottom: 30px;
}
::-webkit-scrollbar{
  width : 5px;
}
::-webkit-scrollbar-thumb{
  background-color: #aeaeaf;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #d6d6db;
}
::-webkit-scrollbar-track{
  background-color: white;
}
